################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PDPTracker/Droid/obj/Debug
/PDPTracker/Droid/bin/Debug
/PDPTracker/iOS/bin/iPhoneSimulator/Debug
/PDPTracker/iOS/obj/iPhoneSimulator/Debug
/PDPTracker/PDPTracker/bin/Debug
/PDPTracker/PDPTracker/obj/Debug
